.container{
    width: 1025px;
    margin: 0 auto;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size:cover ;    
}

.header__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;    
}

.header__box a{
    display: inline-block;
    text-decoration: none;
}

.logo__text{
    display: inline-block;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 29px; 
}

span{
    font-size: 18px;
    display: block;
}

.logo-pic{
    width: 53px;
    height: 47px;    
    background-image: url(../img/logo\ 3.png);
    background-repeat: no-repeat;
    display: inline-block;
    
}

.logo:hover .logo-pic{
    background-image: url(../img/logo\ 2.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.logo:hover h1 {
    color: #F26522;
}

.contact{
    color: #FFFFFF;
    text-align: right;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    
}

.contact a{
    text-decoration: none;
    display: block;
    
    color: #FFFFFF;
        
}

.contact a:first-child{
    margin-bottom: 19px;
}

.contact a:hover{
    color: #F26522;
}

.tours__box{
    width: 100%;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 26px;
}

.tours__item{
    display: inline-block;
    width: 300px;
    text-align: center;
    margin-bottom: 78px;
    
}

.tours__item a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    color: #FFFFFF;
    height: 220px;
        
    display: block;
    position: relative; 
   
}

.tours__item img{
    width: 300px;
    height: 220px;
    margin-bottom: 20px ;       
    
}

.tours__item a:hover{
    color: #F26522;
}

.plagin{
    position: absolute;
    bottom: 0px;
    background:  #F26522;
    width: 300px;
    height: 55px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    opacity: 0;
     
}

.tours__item:hover .plagin{
    opacity: 1;
}

.left_details{   
    font-size: 10px;
    margin-top: 8px ;
    margin-left: 16px;
}

.btm-left_details{
    margin-top: 8px ;
    font-size: 20px;
    display: block;
}

.right_details{
    font-size: 14px;
    display: block;
    margin-top: 29px;
    margin-left: 128px;
    margin-right: 37px;
    position: relative;
}

.right_details:before {
	content: ""; 
	border: solid transparent;
	position: absolute; 
	bottom: 50%;
	right: 0px;
	border-bottom-color: #FFFFFF; 
	border-width: 6px;
	margin-right: -25px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);

    
} 



.copyright{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-top: 12px;
    margin-bottom: 15px;
}